import(methods)
importFrom(utils, data, download.file, read.csv, write.table)
importFrom(Biobase, addVigs2WinMenu, copySubstitute)
importClassesFrom(DBI, DBIConnection)
importMethodsFrom(DBI, dbConnect, dbDisconnect, dbDriver,
                  dbExistsTable, dbGetQuery, dbWriteTable)
importFrom(RSQLite, sqliteQuickSQL)
importClassesFrom(AnnotationDbi, AnnDbObj)
importMethodsFrom(AnnotationDbi, count.mappedkeys, dbconn, dbmeta,
                  dbschema, revmap)

export(getALLUrl, getALLBuilt, idBlast,
       createAnnObjs, 
       pBaseBuilder_DB, pSeqBuilder_DB, crossBuilder_DB, scopBuilder_DB, 
       subcellBuilder_DB, intBuilder_DB, InParanoidBuilder_DB, 
       HomoloGeneBuilder_DB, PeptideAtlasBuilder_DB, dNameBuilder_DB, 
       bfBuilder_DB, ptmBuilder_DB, GOABuilder_DB)
      
exportMethods(dbschema)       
