>query1
MTEYKLVVVGAGGVGKSALTIQLIQNHFVDEYDPTIEDSYRKQVVIDGETCLLDILDTAG
QEEYSAMRDQYMRTGEGFLCVFAINNSKSFADINLYREQIKRVKDSDDVPMVLVGNKCDL
PTRTVDTKQAHELAKSYGIPFIETSAKTRQGVEDAFYTLVREIRQYRLKKLNSSDDGTQG
CMGSPCVLM
>query2
MTFEDVAVEFSQWEWGQLNPAQKDLYREVMLENFRNLAILGLLVSKPYVICQLEEGGEPF
MVEREISTGAHSDWKRRSKSKESMPSWGISKEELFQVVSVEKHIQDVLQFSKLKAACGCD
GQLEMQQIKQERHLKQMSTIHKSATTLSRDYKWNGFGRSLGLRSVLVNQHSILMGEGSYK
CDTEFRQTLGGNNSQRTHPEKKSCKCNECGKSFHFQSELRRHQRCHTGEKPYECSDCGRA
FGHISSLIKHQRTHTGEKPYECSECGRAFSQSSSLVLHYRFHTGEKPYKCNECGRAFGHT
SSLIKHQRTHTGEKPYECRECGRTFSQSSSLIVHYRFHTGEKPYKCNKCGRAFSQSSSLT
QHYRFHTGEKPYKCNECGRAFAHTASLIKHQRSHAGKKTL
>query3
MGDKGTRVFKKASPNGKLTVYLGKRDFVDHIDLVDPVDGVVLVDPEYLKERRVYVTLTCA
FRYGREDLDVLGLTFRKDLFVANVQSFPPAPEDKKPLTRLQERLIKKLGEHAYPFTFEIP
PNLPCSVTLQPGPEDTGKACGVDYEVKAFCAENLEEKIHKRNSVRLVIRKVQYAPERPGP
QPTAETTRQFLMSDKPLHLEASLDKEIYYHGEPISVNVHVTNNTNKTVKKIKISVRQYAD
ICLFNTAQYKCPVAMEEADDTVAPSSTFCKVYTLTPFLANNREKRGLALDGKLKHEDTNL
ASSTLLREGANREILGIIVSYKVKVKLVVSRGGLLGDLASSDVAVELPFTLMHPKPKEEP
PHREVPESETPVDTNLIELDTNDDDIVFEDFARQRLKGMKDDKDEEDDGTGSPHLNNR
>query4
MATCIWLRSCGARRLGSTFPGCRLRPRAGGLVPASGPAPGPAQLRCYAGRLAGLSAALLR
TDSFVGGRWLPAAATFPVQDPASGAALGMVADCGVREARAAVRAAYEAFCRWREVSAKER
SSLLRKWYNLMIQNKDDLARIITAESGKPLKEAHGEILYSAFFLEWFSEEARRVYGDIIH
TPAKDRRALVLKQPIGVAAVITPWNFPSAMITRKVGAALAAGCTVVVKPAEDTPFSALAL
AEVNQGFLLDLDPLLLASQAGIPSRPRAGGLVPARKNAKEVGEAICTDPLVSKISFTGST
TGKILLHHAANSVKRVSMELGGLAPFIVFDSANVDQAVAGAMASKFRNTGQTCVCSNQFL
VQRGIHDAFVKAFAEAMKKNLRVGNGFEEGTTQGPLINEKAVEKVEKQVNDAVSKGATVV
TGGKRHQLGKNFFEPTLLCNVTQDMLCTHEETFGPLAPVIKFDTEEEAIAIANAADVGLA
GYFYSQDPAQIWRVAEQLEVGMVGVNEGLISSVECPFGGVKQSGLGREGSKYGIDEYLEL
KYVCYGGL
